.message {
  border-radius: 5px;
  padding: 0.5em;
  --message-color-ai: #d9dede;
  --message-color-user: #F95738;
}

.message.ai {
  margin-right: 2em;
  background-color: var(--message-color-ai);
}

.message.user {
  margin-left: 2em;
  background-color: var(--message-color-user);
  color: white;
}

.input-form {
  display: flex;
}

.input-form input[type='text'] {
  margin-right: 1rem;
  flex: 1 1;
  line-height: 2;
}